/* 
  This is a SAMPLE File to get you started. Follow the instructions on the project to complete the tasks. 
  You'll probably need to override some of theese styles.
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #895aff;
    color: #fff;
    padding: 1.2rem;
}

.logo {
    width: 100px;
}

header a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
}

/* main */
main {
    padding: 2rem;
}
 /* place and review */
.review-card, #places-list {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.place-card{
    background-color: #ddd;
    padding: 20px 24px;
    width: 300px;
    margin-bottom: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.space-card{
    padding-bottom: 5px;
    font-size: 25px;
}

.title-card {
    padding-bottom: 5px;
    font-size: 30px;
}

.place-details {
    color: #333;
}

.details-button {
    color: white;
    background: #895aff;
    padding: 5px;
    font-size: 25px;
    border: solid #581af3;
    border-radius: 15px;
}

.button-review {
    width: 100%;
    font-size: 20px;
    background: #895aff;
    color: white;
    border: solid #581af3;
    border-radius: 15px;
}

/* footer */
footer {
    background-color: #895aff;
    text-align: center;
    padding: 10px;
}